{% extends "menu_pacientes.html" %}

{% block title %} Solicitar Cita {% endblock %}

{% block content %} 
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Formulario de Solicitud para Cita.</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class=flashes>
                    {% for category, message in messages %}
                        <section class="{{ category }}">
                        <div class="flash text-light">{{message}}</div>
                        </section><br>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            <div class="row">
                <div class="container">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="card m-4">
                                    <div class="card card-header">
                                        <h3 class="card-title text-center">Solicitar una Cita</h3>
                                    </div>
                                    <div class="card card-body">
                                        <form class="container" action="{{url_for('solicitar_cita')}}" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="inputFecha">Escoger Medico:</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <select name="listMedicos"  class="form-select">
                                                        {% for dato in _medicos %}
                                                            <option value= "{{dato.documento_id}}">{{dato.nombres}} {{dato.apellidos}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
        
                                            <div class="row">
                                                <label for="inputAlergias" class="col-form-label">Indique el motivo de su Consulta:</label>
                                                <textarea name="inputAlergias" id="inputAlergias" class="form-control" rows="2"></textarea>
                                            </div>
                                            <br>
        
                                            <div class="row">
                                                <button type="submit" class="btn btn-primary">Solicitar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}